*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
/*  <=======================HEADER SECTION STARTS HERE==============================> */
/* .top-main{
    position: sticky;
    top:0px;
} */
.header-main{
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.header-first img{
    height: 50px;
}
.header-first{
    display: flex;
    gap: 10px;
    align-items: center;
}
.header-first a{
    padding:20px 10px;
}
.header-first a:hover{
    background-color:#05a067;
    color: white;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 0px 15px;
    width: 25%;
}
input{
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 0px;
    background:none;
}
.input input::placeholder{
font-style: italic;
}
.header-second{
    display: flex;
    gap: 20px;
    align-items: center;
}
.set-goals{
    display: none;
}
.header-second a:hover{
    background-color: #eaebeb;
    border-radius: 20px;
}
.header-second a{
    padding: 10px;
}
a{  
    font-size: 16px;
    text-decoration: none;
    color: black;
}
.header-second i{
    color: blueviolet;
}
.sign-log .signup{
    background-color: #05a067;
    color: white;
    border-radius: 20px;
    padding: 8px 10px;
    position: relative;
    left: 30px;
}
.sign-log .signup:hover{
    background-color:#036b45;
}
.sign-log .login{
    border-radius: 20px;
    padding: 8px 25px;
    background-color: #eaebeb;
}
.sign-log .login:hover{
    background-color:#036b45;
    color: white;
}
.header-main-second{
    background-color:  #282A35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    scrollbar-width: none;
}
.header-main-second a{
    color: white;
    padding:  10px;
    letter-spacing: 1px;
    white-space: nowrap;
}
.header-main-second a:hover{
    background-color: black;
   
}
/* <=======================HEADER SECTION ENDS HERE==============================> */

/*  <=======================MAIN-BODY SECTION STARTS HERE==============================>  */

/*  <=======================MAIN-BODY 1ST DIV SECTION STARTS HERE==============================>  */
.main-learn{
display:flex;
align-items: center;
justify-content: center;
background-image: url(./image/astronoute.png),url(./image/space-back.gif);
background-repeat: no-repeat, repeat;
background-position: 90% 60%, center center;
padding-top: 90px;
padding-bottom: 90px;
color: white;
}
.learn-to-code{
    text-align: center;
}
.learn-to-code h1{
    font-size: 65px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 25px 0px;
}
.learn-to-code h3{
    color: #FFF4A3;
    font-weight: 700;
    margin-top: 30px !important;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.input-div{
    border: 1px solid white;
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 50px 0px 0px 50px;
    
}
.input-div input{
width: 95%;
padding: 10px 0px 10px 15px;
font-size: 15px;
}
.big-input{
    /* border: 1px solid red; */
    width: 100%;
    margin: 30px 0px;
    display: flex;
    justify-content: center;
}
.big-input button{
    border-radius: 0px 50px 50px 0px;
    width: 20%;
    padding: 15px;
    border: none;
    background-color:#05a067;
    color: white;
    
}
.big-input button:hover{
    background-color: #036b45;
}
.learn-to-code h2{
    font-size: 20px;
    text-decoration: underline;
    margin: 25px 0px;
}
.learn-to-code h2:hover{
    color: rgb(241, 234, 137);
}
/*  <=======================MAIN-BODY 1ST DIV SECTION STARTS HERE==============================>  */

/*  <=======================MAIN-BODY 2nd DIV SECTION STARTS HERE==============================>  */
.the-lang-main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D9EEE1 !important;
}
.big-html{
    margin: 10% 0%;
    text-align: center;
}
.big-html h1{
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 100px;
    font-weight: 700;
    margin-top: -18px !important;
}
.big-html h6{
    font-size: 20px;
    font-weight:bold;
    margin-top: 1.2em;
    margin-bottom: 1.5em;
}
.big-html a{
    font-size: 18px;
    margin: 20px 80px;
    display: block;
    width: 200px;
    border-radius: 25px;
    padding: 8px 16px ;
    text-align: center;
    cursor: pointer;
}
.green{
    background-color: #04AA6D;
    color: white !important
}
.yellow{
    background-color: #FFF4A3 !important;
    color: black !important;
}
.black{
    background-color: #282A35;
    color: white;
    font-size: 18px;
    margin: 20px 80px;
    display: block;
    width: 200px;
    border-radius: 25px;
    padding: 8px 16px ;
    text-align: center;
    cursor: pointer;
}
.pink{
    background-color: #FFC0C7 !important;
    color: black !important;
}
.white{
    font-size: 18px;
    margin: 20px 80px;
    display: block;
    width: 200px;
    border-radius: 25px;
    padding: 8px 16px ;
    text-align: center;
    cursor: pointer;
    background-color: white
}
.big-html-beside{
    background-color: #E7E9EB;
    color: #000;
    border-radius: 5px;
    padding: 16px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    font-size: 15px;
    line-height: 1.5;
}
.big-html-beside .example-inside{
    height: 300px;
    font-size: 15px;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    border-left: 4px solid #04AA6D ;
    width: 400px;
    background-color: #fff;
    color: #000;
    padding: 8px 12px;
    word-wrap: break-word;
    font-family: Consolas, Menlo, "courier new", monospace;
}
.big-html-beside .green{
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
    display: block;
    width: 160px;
    border-radius: 25px;
    padding: 8px 12px ;
    text-align: center;
    cursor: pointer;
}
/*  <=======================MAIN-BODY 2nd DIV SECTION ends HERE==============================> */

/*  <=======================MAIN-BODY 3rd DIV SECTION STARTS HERE==============================> */
.yellow-background{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFF4A3 !important;;
}
/*  <=======================MAIN-BODY 3rd DIV SECTION ends HERE==============================> */

/*  <=======================MAIN-BODY 4th DIV SECTION STARTS HERE==============================> */
.black-background{
    background-color: #282A35 !important;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/*  <=======================MAIN-BODY 4th DIV SECTION STARTS HERE==============================> */

/*  <=======================MAIN-BODY 5th DIV SECTION STARTS HERE==============================> */
.lite-pink-background{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F3ECEA !important;
    color: black !important;
}
/* <=======================MAIN-BODY 5th DIV SECTION ends HERE==============================> */

/*  <=======================MAIN-BODY 6th DIV SECTION STARTS HERE==============================> */
.lite-blue-background{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #96D4D4!important;
    color: black !important;
}
/* <=======================MAIN-BODY 6th DIV SECTION ends HERE==============================> */

/* <=======================MAIN-BODY 7th DIV SECTION STARTS HERE==============================> */
/* <=======================MAIN-BODY 7th DIV SECTION  for 6 big div STARTS HERE==============================> */
.six-div-main{
    background-color: #282A35 !important;
    color: white !important;
    display: table;
}
.six-div-section{
    max-width: 1400px;
    margin: 2% 0%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.six{
    margin: 30px;
    padding: 2% 3%;
    text-align: center;
    width: 45%;
    border-radius:5px;
}
.six-one{
    color: black;
    padding: 24px;
    width: 100%;
}
.six-one h1{
    font-size: 45px;
    font-weight: 700;
}
.six-one h5{
    color: #3a3a3a !important;
    font-weight: 600;
    font-size: 15px;
    margin: 15px 0;
}
.six-one a{
    margin: 0% 28%;
    margin-top:10%;
}
.one{
    background-color: #FFC0C7;
}
.two{
    background-color: #FFF4A3;
}
.three{
    background-color: #F3ECEA;
}
.four{
    background-color: #D9EEE1;
}
.five{
    background-color: #96D4D4;
}
.sixth{
    background-color: #E7E9EB;
}
/* <=======================MAIN-BODY 7th DIV SECTION  for 6 big div ends HERE==============================> */

/* <!--<=======================MAIN-BODY 7th DIV SECTION for samll div starts HERE==============================>--> */

/* <!--==== horizontal 2 long div starts here ===--> */
.small-div-horizontal{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.long-hirizontal-div{
   padding: 1.5% 2.4%;
   padding-bottom: 3%;
   height: auto;
   width: 49%;
}
.long-horizontal{
    text-decoration: none;
}
.long-hirizontal-name {
    padding: 36px 24px;
    border-radius: 5px;
    color: black !important;
    text-align: center;
}
.long-hirizontal-name h2{
    font-size: 25px;
    font-weight: 550;
    margin: 10px;
    color: black !important;
    cursor: pointer;
    text-align: center;
}
/* <!--==== horizontal 2 long div starts here ===--> */

/* ===so many small div starts here===  */
.smallchild{
    padding: 2% 3%;
    width: 25%;
}
.smallchild a{
    text-decoration: none;
    
}
.inside-a{
    padding: 24px;
    border-radius: 5px;
    background-color: #F3ECEA !important;
    color: black !important;
    
}
.inside-a h2{
    font: 30px;
    font-weight: 550;
    margin: 10px 0;
    text-align: center !important;
}
/* ===so many small div ends here===  */

/* <=======================MAIN-BODY 7th DIV SECTION for samll div ends HERE==============================> */

/*  ========================CODE EDITOR SECTION STARTS FROM HERE===============================  */

.code-editor-main-section{
    padding: 30px 3px 85px 3px;
}
.code-editor{
    max-width: 974px;
    padding: 8px 16px;
    margin-left: auto;
    margin-right: auto;
}
.code-editor h1{
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    margin: 2px 0 -20px 0;
    margin-top: 35px;
    color: white;
}
.code-editor h4{
    text-align: center;
    margin: 10px 0;
    margin-top: 30px;
    font-size: 20px;
    color: white !important
}
.code-editor-inside{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.three-dot-main-row{
    display: flex;
    align-items: center;
    padding: 10px;
    background: #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    clear: both;
}
.three-dot{
    display: flex;
    width: 10%;
    float: left;
    gap: 10px;
}
.beside-3-dot{
    padding: 1px 15px;
    background-color: white;
    width: 85%;
}
.front-back-main{
    background-color: #f1f1f1;
    width: 100%;
    overflow: hidden;
}
.front-back-main button{
    white-space: normal;
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    background-color: #E7E9EB !important;
    color: black !important;
}
.front-back-main button:hover{
    background-color: #c8c9ca !important;
}
.code-editor a {
    border:none;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 18px;
    cursor: pointer;
}

/*  ========================CODE EDITOR SECTION STARTS FROM HERE===============================  */

/* ==============================W3Schools Spacesdiv starts from here================================*/
.w3school-spaces-div{
    margin: auto;
    padding: 25px 20px 80px 20px;
    max-width: 1400px;
    text-align: center;
}
.w3school-spaces-div h1{
    font-size: 55px;
    font-weight: 700;
    margin: 2px 0 -20 0;
}
.w3school-spaces-div h3{
    font-weight: 400;
    margin: 20px 0;
    font-size: 20px;
}
.w3school-spaces-div h3 a{
    color: #FFC0C7;
    font-size: 20px;
    text-decoration: underline;
}
.w3school-spaces-div img{
    max-width: 100%;
    width: 850px;
    margin-bottom: 55px;
    margin-top: 20px;
    vertical-align: middle;
    border-style: none;
}
.w3school-spaces-div a{
    margin: auto;
    width: 300px;
    margin-top: 16px;
    font-size: 21px;
    border: none;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    padding: 11px 18px ;
}
/* ==============================W3Schools Spacesdiv ends here================================*/

/* <=======================MAIN-BODY 7th DIV SECTION ends HERE==============================> */

/* =======================MAIN BODY 8th DIV SECTION STARTS FROM HERE======================== */
.my-learning-section{
    padding-top: 65px;
    padding-bottom: 70px ;
    background-color: #D9EEE1 !important;
    color: black !important;
}
.my-learning-div{
    padding: 8px 16px !important;
    max-width: 980px ;
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;
}
.my-learning-div h1{
    font-size: 60px;
    font-weight: 700;
    margin: 2px 0 -20px 0 !important;
}
.my-learning-div h4{
    margin-top: 35px;
    margin: 30px ;
    font-size: 20px;
}
.my-learning-div img{
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 5%;
    vertical-align: middle;
    border-style: none;
}
.my-learning-div a{
    font-size: 18px;
    margin-top: 30px;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    padding: 11px 25px ;
}
/* =========================MAIN BODY 8th DIV SECTION STARTS FROM HERE=========================== */

/* ============================MAIN BODY 9TH DIV STARTS FROM HERE================================ */

.become-pro-section{
    background-color: #282A35 !important;
    color: white !important;
    padding: 78px 35px 96px 35px;
    text-align: center;
}
.become-pro-section h1{
    font-weight: 700;
    font-size: 52px;
    padding-top: 11px;
    padding-bottom: 20px;
    margin: 10% 0%;
    margin: 2px 0 -20px 0 !important;
}
.become-pro-section h3{
    font-size: 25px;
    color: #FFC0C7;
    margin: 20px 0;
    font-weight: 400;
}
.small-list{
    margin: auto;
    margin-top: 1%;
    font-size: 15px;
    font-weight: 550;
    line-height: 1.5;
    display :inline-block;
}
.small-list li{
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    list-style-type: none;
    color: white !important;
}
.small-list li img{
    margin-right: 15px ;
    vertical-align: middle;
}
.small-list li a{
    color: white;
    cursor: pointer;
    font-size:18px ;
    text-decoration: underline;
}
.green-button{
    font-size: 20px;
    width: 300px;
    padding: 11px 18px;
    margin: auto;
    margin-top: 3%;
    display: block;
    border: none;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    background-color: #04AA6D;
    color: #ffffff;
}
/* ============================MAIN BODY 9TH DIV STARTS FROM HERE============================== */

/* < ============================MAIN BODY 10TH DIV STARTS FROM HERE============================ */
.color-picker-section{
    background-color: #F3ECEA;
    color: #000;
    padding-top: 78px;
    padding-bottom: 95px;
    text-align: center !important;
}
.color-picker{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    text-align: center !important;
}
.color-picker h1{
    font-size: 60px;
    font-weight: 700;
    margin: 2px 0 -20px 0 !important;
}
.color-picker h4{
    font-weight: 400;
    margin: 10px 0;
    margin-top: 3%;
    font-size: 20px;
}
.color-picker a{
    cursor: pointer;
    text-decoration: underline;
}
.color-picker a img{
    width: 150px;
    height: 128px;
    margin-top: 16px;
    vertical-align: middle;
    cursor: pointer;
}
/* < ============================MAIN BODY 10TH DIV ends HERE============================ */

/* < ============================MAIN BODY 11TH DIV STARTS FROM HERE============================ */
.code-game-section{
    padding-top: 40px;
    padding-bottom: 40px ;
    background-color: #96D4D4 !important;
    color: black !important;
}
.code-game-div{
    padding:3%;
    text-align: center !important;
}
.code-game-div h1{
    font-family: 'Freckle Face', cursive;
    font-size: 48px;
    margin: 2px 0 -20px 0 !important;
    font-weight: 550;
}
.code-game-div h2{
    font-family: 'Freckle Face', cursive;
    font-size: 32px;
    font-weight: 550;
    margin: 20px 0;
}
.code-game-div a img{
    margin: 16px;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
}
.code-game-div p{
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 15px;
}
.code-game-div p a{
    font-size: 20px;
    padding: 11px 18px;
    background-color: #282A35;
    color: white;
    margin: auto;
    display: block;
    width: 200px;
    border: none;
    cursor: pointer;
    border-radius: 25px ;
    
}
/* <!--============================MAIN BODY 11TH DIV ends HERE============================--> */
/* ===============================MAIN BODY 12TH DIV STARTS HERE============================== */
.exercises-section{
    padding-left: 20px;
    background-color: #282A35 !important;
    color: white !important;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    text-align:center;
}
.exercises-section h2{
    font-size: 65px;
    font-weight: 700;
    margin: 10px 0;
}
.exercises-section h4{
    font-weight:400;
    margin: 10px 0;
    font-size: 20px;
}
.exercises-two-div{
    display: flex;
    max-width: 1352px;
    padding: 0 8px;
    margin-left: auto;
    margin-right: auto;
}
.exe-hori {
   padding: 25px 8px;
   text-align: center;
   margin: 5%;
   width:45% ;
}
.exe-hori p{
    margin-top: 3.2em;
    margin-bottom: 3.2em;
    font-size: 15px;
}
.exe-hori p a{
    padding: 70px 50px;
    font-size: 35px;
    width: 100%;
    border: none;
    border-radius: 5px ;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
}
/* =======================================MAIN BODY 13TH DIV SECTION STARTS HERE=========================== */
.web-templates-section{
    padding: 64px 24px 90px 24px;
    background-color: #E7E9EB !important;
    color: black !important;
    text-align: center !important;
}
.web-templates-section h1{
    font-weight: 700;
    font-size: 60px !important;
    margin: 2px 0 -20px 0 !important;
}
.web-templates-section h4{
    font-weight: 400;
    margin: 10px 0;
    font-size: 20px;
}
.back-jacket{
    max-width: 980px ;
    margin-left: auto;
    margin-right: auto;
}
.back-jacket a{
    cursor: pointer;
    text-decoration: underline;
}
.back-jacket a img{
    width: 100%;
    margin: 16px 0 20px 0;
    vertical-align: middle;
}
.web-templates-section p{
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 15px;
}
.web-templates-section p a{
    font-size: 20px;
    background-color: #282A35;
    color: white;
    margin: auto;
    border-radius: 25px;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    padding: 8px 16px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
/* =======================================MAIN BODY 13TH DIV SECTION end HERE=========================== */

/* =======================================MAIN BODY 14TH DIV SECTION STARTS HERE=========================== */
.kickstart-main-section{
    margin-top: 0px;
    background-color: #282A35;
    position: relative;
    padding: 5% 60px 50px 60px;
    margin-bottom: 85px;
    color: #FFC0C7;
}
.kickstart-div{
    max-width: 1225px;
    margin: auto;
    position: relative;
    
}
.kickstart-div h2{
    font-size: 62px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-weight: 400;
    margin: 0px 0;
}
.kickstart-div p{
    font-size: 52px;
    margin-top: 1.3em;
    margin-bottom: 2em;
}
.kickstart-div a{
    font-size: 20px;
    border-radius: 50px;
    background-color: #04AA6D;
    padding: 17px 55px;
    color: #FFFFFF;
    margin-bottom: 20% !important;
    border: none;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.kickstart-div img{
    position: absolute;
    right: 10px;
    top:66%;
    width: 40%;
    transform: rotate(0deg);
    bottom: -50px;
    z-index: 1;
}
/* =======================================MAIN BODY 14TH DIV SECTION END HERE=========================== */

/* =======================================MAIN BODY 15TH DIV SECTION STARTS HERE=========================== */
.slide-show-main{
    background: #f1f1f1;
    width: 80%;
    color:white;
    text-align: center !important;
}
.code-editor h2{
    font-size: 60px;
    font-weight: 700;
    margin: 0px 20px 0px 0px;
    text-align: center !important;
}
.code-editor .h4{
    font-weight: 550;
    margin: 20px 0;
    font-size: 20px;
    color: #1d1c1c !important;
    text-align: center !important;
}
.code-editor h6{
    margin-top: 19px;
    font-weight: 550;
    margin: 10px 0;
    font-size: 16px;
    text-align: center !important;
}
/* Slideshow container*/
.slideshow-container {
    max-width: 100%;
    padding: 10px;
    padding-bottom: 2%;
    background: #f1f1f1;
    position: relative;
    margin: auto;
}
  /* Next & previous buttons */
   .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
   
  /* Position the "next button" to the right */
   .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  } 
  
  /* On hover, add a black background color with a little bit see-through */
   .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  } 
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  } 
  
  /* Number text (1/3 etc) */
   .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  } 
  
  /* The dots/bullets/indicators */
   .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  } 
  
  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
   .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  } 
  .tv-stand-main{
    position: relative;
    color: #000 !important;
  }
  .tv-stand{
    border-left: 50px solid #282A35;
    height: 80px;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -25px;
  }
  .tv-stand-a{
    position: relative;
    top: 30px;
    font-size: 20px;
    width: 35%;
    margin-top: 73px;
    margin: auto;
    display: block;
    border-radius: 25px;
    background-color: #282A35 !important;
    color: white !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    text-align: center;
    cursor: pointer;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
   
  /* On smaller screens, decrease text size */
   @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }  

/* =======================================MAIN BODY 14TH DIV SECTION END HERE=========================== */

/* <!--============================ FOOTER STARTS FROM HERE ===========================--> */
.footer-main-section{
    background-image: url(./image/astro\ on\ moon.png),url(./image/space-back.gif);
    background-repeat: no-repeat, repeat;
    background-position: right bottom, center center;
}
.footer-div{
    margin: auto;
    padding: 40px 80px 300px 80px;
    max-width: 1400px;
}
.footer-link-hori-div{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 3%;
    margin-left: 5%;
    margin-top: 2%;
}
.footer-link{
    width: auto;
    
}
.footer-link a{
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    color: #FFF4A3;
}
.footer-link a img{
    width: 50px;
}
.top-turial-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-verti-div{
    width: auto;
    float: left;
    margin: 5% 0%;
    padding-left: 30px;
    padding-right: 130px;
}
.small-verti-div h5{
    margin-bottom: 20px;
    font-weight: 400;
    margin: 5% 0%;
    font-size: 18px;
    color: #ddd;
}
.small-verti-div a{
cursor: pointer;
font-size: 12px;
color: #ddd;
}
.footer-icons{
    display: flex;
    align-items:baseline;
    justify-content:baseline;
    gap: 2%;
    margin-left: 5%;
    margin-top: 3%;
}
.footer-icons a {
    color: #ddd;
}
.footer-text{
    font-size: 12px;
    color: #ddd;
    margin-left: 5%;
    margin-top: 3%;
}
.footer-text a{
    color: #ddd;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 500;
}
/* <!--============================ FOOTER END HERE ===========================--> */